/**
  📁 File: base.css
  🧑‍💻 Developed by: Elyoo (NotElyoo)
  🌐 Website: https://miyeon.fr
  📬 Contact: contact@miyeon.fr
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #007bff;
  --primary-dark: #0056b3;
  --success-color: #28a745;
  --success-dark: #218838;
  --background: #f0f2f5;
  --text-color: #272726;
  --white: #ffffff;
}

body.dark-mode {
  --primary-color: #66b2ff;
  --primary-dark: #3399ff;
  --success-color: #4caf50;
  --success-dark: #388e3c;
  --background: #121212;
  --text-color: #eeeeee;
  --white: #1e1e1e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.01em;
  background-color: var(--background);
  color: var(--text-color);
  padding-top: 70px;
  transition: background-color 0.4s ease, color 0.4s ease;
}